body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
}

#root {
    display: flex;
    flex: 1;
}

.editor {
    border-radius: 0 !important;
    width: 300px;
    height: 100% !important;
    max-height: 100% !important;
    overflow-y: scroll;
}

.sectionArea {
    margin: 0 !important;
    border-radius: 0 !important;;
}

.sectionArea:before {
    opacity: 1 !important;
}

.sectionTitle {
    min-height: 48px !important;
    height: 48px !important;
}

.card-area {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
}
