body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
}

#root {
    display: flex;
    flex: 1;
}

.editor {
    border-radius: 0 !important;
    width: 300px;
    height: 100% !important;
    max-height: 100% !important;
    overflow-y: scroll;
}

.MuiExpansionPanel-expanded-483 {
    margin: 0 !important;
}


.MuiExpansionPanelSummary-root-485.MuiExpansionPanelSummary-expanded-486 {
    min-height: 48px !important;
    height: 48px !important;
}

.MuiExpansionPanel-expanded-483:before  {
     display: none !important;
 }

 .MuiExpansionPanel-root-481:before {
     display: none;
 }

.MuiExpansionPanelSummary-content-489 {
    margin: 12px 0 !important;
}